*{
      font-family: 'Poppins', sans-serif;
  }
  
  .container{
      width: 100%;
      min-height: 100vh;
      padding-left: 10rem;
      padding-right: 10rem;
      max-width: 700px;
      height: auto;
  }
  
  
  .container form .bentuk{
      display: flex;
      flex-wrap: wrap;
      margin-right: 100rem;
  }
  /* style text */
  
  .wrapperText{
      position: relative;
      margin-top: 8rem;
      right: 0;
      bottom: 0;
      left: 0;
      display: inline-block;
  }
  
  .wrapperText span{
      color: #3C79F5;
  }
  
  .wrapperText h6{
      position: absolute;
      font-size: 1em;
  }
  .wrapperText h4{
      margin-top: 0;
      top: 9rem;
      position: absolute;
  }
  
  .wrapperText h1{
      top: 12rem;
      font-size: 5rem;
  }
  
  .wrapperText .boldtext{
      color: #3C79F5;
  }
  
  /* style input */
  
  .bentuk{
      padding: 20px;
      padding-right: 12rem;
      margin-top: 20px;
      background: rgba(171, 171, 171, 0.2);
      border-radius: 2em;
      border: none;
  
  }
  
  .Login{
      padding: 15px;
      padding-right: 1rem;
      margin-top: 15px;
      background-color: #3C79F5;
      border-radius: 2em;
      border: none;
      color: white;
      -webkit-box-shadow:0px 0px 211px 0px rgba(60,121,245,0.9);
      -moz-box-shadow: 0px 0px 211px 0px rgba(60,121,245,0.9);
      box-shadow: 0px 0px 211px 0px rgba(60,121,245,0.9);
  }
  
  input:focus{
      color: #3C79F5;
  }
  
  .hoverinput:hover{
      outline-color: #3C79F5;
      -webkit-box-shadow:0px 0px 300px 0px rgba(60,121,245,10);
      -moz-box-shadow: 0px 0px 300px 0px rgba(60,121,245,10);
      box-shadow: 0px 0px 300px 0px rgba(60,121,245,10);
  }
  
  img{
      padding-left: 10rem;
      padding-right: 10rem;
      position: absolute;
      left: 50em;
      right: 0;
      top: 20em;
      bottom: 0;
      border-radius: 0 50% 50% 50%;
      -webkit-box-shadow:0px 0px 123px 0px rgba(60,121,245,0.29);
      -moz-box-shadow: 0px 0px 123px 0px rgba(60,121,245,0.29);
      box-shadow: 0px 0px 123px 0px rgba(60,121,245,0.29);
}