.Heading-Text {
	position: relative;
	margin-left: 5.5em;
	z-index: 0;
	display: block;
}

.forminput {
	display: block;
	position: relative;
	bottom: 15rem;
	right: 1rem;
	z-index: 1;
}

h6 {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	font-weight: 300;
	top: 50px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 5em;
}
h4 {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	font-weight: 300;
	bottom: 3em;
}

.boldtext {
	color: #3c79f5;
	font-weight: bold;
}

span {
	color: #3c79f5;
}

.bentuk2 {
	background: rgba(171, 171, 171, 0.2);
	border-radius: 5em;
	border: none;
}
.bentuk {
	background: rgba(171, 171, 171, 0.2);
	border-radius: 1em;
	border: none;
}

.input1 {
	position: absolute;
	width: 15em;
	height: 3em;
	left: 99px;
	top: 200px;
	display: block;
}
.input2 {
	position: absolute;
	width: 15em;
	height: 3em;
	left: 99px;
	top: 200px;
	margin-left: 14rem;
}
.input2 {
	position: absolute;
	width: 15em;
	height: 3em;
	left: 99px;
	top: 200px;
	margin-left: 14rem;
}
.input3 {
	position: absolute;
	width: 31.7em;
	height: 3em;
	top: 250px;
	margin-left: 6.2rem;
}
.input4 {
	position: absolute;
	width: 31.7em;
	height: 3em;
	top: 300px;
	margin-left: 6.2rem;
}
.input5 {
	color: white;
	background-color: #3c79f5;
	position: absolute;
	width: 8em;
	height: 3em;
	top: 350px;
	margin-left: 6.2rem;
	-webkit-box-shadow: 0px 0px 105px 0px rgba(60, 121, 245, 0.62);
	-moz-box-shadow: 0px 0px 105px 0px rgba(60, 121, 245, 0.62);
	box-shadow: 0px 0px 105px 0px rgba(60, 121, 245, 0.62);
}

.hoverinput {
	outline-color: #3c79f5;
}

.hoverinput:hover {
	transition: 1s;
	outline-color: #3c79f5;
	-webkit-box-shadow: 0px 0px 300px 0px rgba(60, 121, 245, 10);
	-moz-box-shadow: 0px 0px 300px 0px rgba(60, 121, 245, 10);
	box-shadow: 0px 0px 300px 0px rgba(60, 121, 245, 10);
}

.label-text {
	text-align: center;
}

::-webkit-input-placeholder {
	text-align: center;
}
:-moz-placeholder {
	text-align: center;
}

img {
	position: absolute;
	left: 45em;
	right: 0;
	top: 5em;
	bottom: 0;
	border-radius: 0 50% 50% 50%;
}

@media (max-width: 1280px) {
	.img {
		display: none;
	}
}

@media (max-width: 768px) {
	h1 {
		margin: 0;
	}

	h4 {
		margin-top: 1.5rem;
		bottom: auto;
	}

	h6 {
		top: auto;
		margin-bottom: 0.5rem;
	}

	.forminput {
		bottom: auto;
		margin-top: 3rem;
		margin-left: 5rem;
		right: auto;
	}

	.forminput form label {
		display: none;
	}

	.forminput form input {
		position: static;
		margin: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.two-columns {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 3.5em;
	}

	h4 {
		line-height: normal;
	}

	.forminput form input {
		width: 100%;
	}

	.Heading-Text,
	.forminput {
		margin: 0 2rem;
	}
}
